.footer {
  background: #000000;
  padding: 60px 0 50px;
  color: rgba(255, 255, 255, 0.85);
  margin-top: auto;
  overflow: hidden;


}

.block__content_footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
  @include before-sm(){
    flex-flow: column;
    align-items: center;

  }

}
.footer__ellipse {
  position: absolute;

}
.footer__ellipse_small {
  left: -15%;
  top: -35%;

}
.footer__ellipse_big {
  right: -32%;
  bottom: -30%;

}
.b-line {
  width: 100%;
  border-bottom: 1px solid rgba(143, 143, 143, 0.49);
  padding-bottom: 30px;
}

.footer__column {
  display: flex;
  flex-flow: column;
  max-width: 500px;
  width: 100%;
  position: relative;
  @include before-sm(){
    max-width: 400px;

  }

}
.footer__logo {

  svg {
    transition: ease-in-out all 0.3s;
  }

  &:hover {
    svg {
      transform: scale(1.05);
    }
  }
}

.footer__column_left {
  margin-top: 30px;
  margin-right: 20px;
  @include before-sm(){
    margin-right: 0;
  }
}

.footer__btn-wrapper {
  margin-top: 26px;
}

.footer__company-info {
  margin-top: 30px;
  p {
    font-weight: 300;
    font-size: 12px;
    line-height: 1.6;
  }

}
.mobile-dn {
  @include before-sm(){
    display: none;
  }
}
.footer__subtitle {
  max-width: 340px;
  width: 100%;
  font-size: 16px;
  font-weight: 300;

}
.footer__menu {
  margin-left: 0;
  margin-top: 30px;
  @include before-sm(){
    position: relative;
    bottom: 0;
  }
}
.footer__contacts-politic {
  font-size: 14px;
  font-family: "JetBrains Mono", sans-serif;
  max-width: 250px;


}
.footer__contact-group_phone {
  max-width: 240px;
}
.footer__contact-group_email {
  max-width: 340px;
}
.footer__contact-group_vk {
  max-width: 230px;
}
.footer__contact-group_tg {
  max-width: 135px;
}
