@use "partials/variables";

html, body {
  height: 100%;
  background: #ffffff;
  scroll-behavior: smooth;


}

img {
  width: 100%;
}

button {
  cursor: pointer;
  border: none;
  background: transparent;
}

a {
  text-decoration: none;
  color: inherit;

}

.wrapper {
  min-height: 100vh;
  scrollbar-width: none !important;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  background: #ffffff;
  position: relative;
  overflow: hidden;
}

.block__content {
  margin: 0 auto;
  max-width: $block_width;
  width: 100%;
  padding: 0 20px;
  display: flex;
  //flex-flow: column;
  @include inner-container();
  @include before-md() {
    padding: 0 10px;
  }


}

.block__anchor {
  position: absolute;
  top: 0;
}

.block_first-on-page {

}

.title { // Может standard-title, standard-btn и т.д.?

}


//Templates
.tl__btn {
  padding: 14px 20px 14px 31px;
  border-radius: 30px;
  border: 2.5px solid #000000;
  color: $text-btn;
  display: flex;
  align-items: center;
  background: #ffffff;
  transition: ease-in-out all 0.3s;

  .tl__btn-arrow {
    margin-left: 17px;
    margin-top: 2px;
  }

  p {
    font-family: 'JetBrains Mono', sans-serif;
    line-height: 1;
    font-weight: 600;
  }

  svg {
    path {
      transition: ease-in-out all 0.3s;
    }
  }

  &:hover {
    background: #000000;
    color: #ffffff;

    svg {
      path {
        fill: #ffffff;
      }
    }
  }
}

.tl__btn_footer {
  border: 2.5px solid #ffffff;
  color: #ffffff;
  background: transparent;


  svg {
    path {
      fill: #ffffff;
    }
  }
  &:hover {
    background: #ffffff;
    color: #000000;
    svg {
      path {
        fill: #000000;
      }
    }

  }
}
.hover__tY {
  cursor: pointer;
  transition: ease-in-out all 0.3s;
  &:hover {
    transform: translateY(-2px);

  }
}


//Special classes


.responsive-block {
  position: relative;
  width: 130px;

  &:before {
    content: '';
    display: block;
    padding-top: 100%;
  }
}

.responsive-block__content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}



