// ----------- first-on-page -----------
.first-on-page {
  background: #000000;
  clip-path: polygon(0 0, 55% 0, 100% 0, 100% 96%, 50% 100%, 0 96%);
  overflow: hidden;
}
.block__content_first-on-page {
  padding: 100px 150px;
  position: relative;

}
.first-on-page__bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  img {
    width: 100%;
    height: 100%;

  }
}
.first-on-page__group {
  max-width: 640px;
  width: 100%;
  position: relative;


}
.first-on-page__title {
  font-size: 36px;
  line-height: 1.5;
  color: $text-color;
  letter-spacing: 2.52px;
  font-weight: 600;
  margin-top: 15px;


}
.first-on-page__text {
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 1.68px;
  font-weight: 300;
  line-height: 1.5;
  margin-top: 50px;

}
.tl__btn_first-on-page {
  margin-top: 36px;
  border: rgba(224, 75, 75, 1);
  color: $text-color;
  background: rgba(224, 75, 75, 1);
  svg {
    path {
      fill:#ffffff;
    }
  }
  &:hover {
    background: #ffffff;
    border: #000000;
    color: #000000;
    svg {
      path {
        fill: #000000;
      }
    }
  }

}
// ----------- /first-on-page -----------

// ----------- trust -----------
.block__content_trust {
  padding: 80px 0px;
}
.trust__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

}
.trust__text {
  line-height: 1.5;
  font-weight: 300;
  margin-right: 15px;
  letter-spacing: 1.4px;
}
.trust__table {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  max-width: 980px;
  width: 100%;
}
.trust__table-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

// ----------- /trust -----------

// ----------- cards -------------
.block__content_cards {
  margin-top: 40px;
  justify-content: center;
}
.cards__tablet {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 25px;


}
.cards__tablet-item-wrapper {
  display: flex;
  flex-flow: column;
  align-items: center;
  &:nth-child(2){
    .cards__tablet-icon-text {
      color: #FF5151;
    }

  }
}
.cards__tablet-icon-text {
  font-size: 22px;
  color: #21AA56;
  font-weight: 700;
  letter-spacing: 1.5px;
  margin-top: 16px;
}
.cards__tablet-item {
  max-width: 560px;
  width: 100%;
  box-shadow: 11px 8px 50px 0px #B7BCD1;
  border-radius: 30px;
  overflow: hidden;
  margin-top: 10px;

}
.cards__item-img {
  width: 100%;
  max-height: 520px;
  border-radius: 30px;

}
.cards__item-text-group {
  padding: 18px 37px 23px;
  display: flex;
  flex-flow: column;

  align-items: center;
  text-align: center;
  min-height: 400px;
  span {
    font-weight: 600;
  }
}
.cards__item-title {
  font-size: 24px;
  font-weight: 600;

}
.cards__item-subtitle{
  margin-top: 25px;
}
.cards__item-text {
  margin-top: 25px;
  font-style: italic;
}

// ----------- /cards -------------

// ----------- about-us -----------
.block__content_about-us {
  flex-flow: column;
}
.pulse-pro {
  &__inner {
    display: flex;
  }

  &__img {
  }

  &__content {
    margin-bottom: 80px;
  }

  &__title {
    margin-bottom: 40px;
    font-size: 28px;
    font-weight: 700;
    line-height: 1.36;
    letter-spacing: 1.96px;
  }

  &__subtitle {
    margin-bottom: 40px;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.36;
    letter-spacing: 1.4px;
  }
  &__description {
    margin-bottom: 40px;
    row-gap: 20px;
  }

  &__list {
    margin-bottom: 40px;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.36;
    letter-spacing: 1.4px;
    &:last-child {
      margin-bottom: 0;
    }
  }

  &__list-title {
    font-weight: 600;
  }

  &__list-item {
    margin-left: 35px;
    list-style: disc;
  }
  &__btn {
    max-width: 408px;
  }
}
.block {
  &__content {
    &_pulse-pro {
    }
  }
}


.about-us {
  padding-bottom: 225px;
  color: #000;
  &__item {
    display: flex;
    justify-content: space-between;
    &:nth-child(1) {
      margin-bottom: 60px;
    }
    &:nth-child(2) {
      margin-bottom: 100px;
    }
  }
  &__item_reverse {
    flex-direction: row-reverse;
    align-items: center;
  }

  &__item-content {
    padding-top: 55px;
    max-width: 590px;
    width: 100%;
  }
  &__item-content_vr {
    padding-top: 80px;
    max-width: 697px;
  }

  &__item-title {
    margin-bottom: 35px;
    font-size: 36px;
    font-weight: 600;
    line-height: 1.22;
  }

  &__item-text {
    margin-bottom: 35px;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.3;
  }

  &__item-btn {
  }

  &__item-img {
    margin-right: 30px;
  }
}
.block {
  &__content {
    &_about-us {
    }
  }
}
// ----------- /about-us -----------