@charset "UTF-8";
*, *:before, *:after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

* {
  font: 20px/1.3 "Montserrat", sans-serif;
}

/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
html, body {
  height: 100%;
  background: #ffffff;
  scroll-behavior: smooth;
}

img {
  width: 100%;
}

button {
  cursor: pointer;
  border: none;
  background: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

.wrapper {
  min-height: 100vh;
  scrollbar-width: none !important;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  background: #ffffff;
  position: relative;
  overflow: hidden;
}

.block__content {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  padding: 0 20px;
  display: flex;
  width: 100%;
  margin: 0 auto;
}
@media screen and (min-width: 576px) {
  .block__content {
    max-width: 540px;
  }
}
@media screen and (min-width: 768px) {
  .block__content {
    max-width: 720px;
  }
}
@media screen and (min-width: 992px) {
  .block__content {
    max-width: 960px;
  }
}
@media screen and (min-width: 1200px) {
  .block__content {
    max-width: 1200px;
  }
}
@media screen and (max-width: 767px) {
  .block__content {
    padding: 0 10px;
  }
}

.block__anchor {
  position: absolute;
  top: 0;
}

.tl__btn {
  padding: 14px 20px 14px 31px;
  border-radius: 30px;
  border: 2.5px solid #000000;
  color: #000000;
  display: flex;
  align-items: center;
  background: #ffffff;
  transition: ease-in-out all 0.3s;
}
.tl__btn .tl__btn-arrow {
  margin-left: 17px;
  margin-top: 2px;
}
.tl__btn p {
  font-family: "JetBrains Mono", sans-serif;
  line-height: 1;
  font-weight: 600;
}
.tl__btn svg path {
  transition: ease-in-out all 0.3s;
}
.tl__btn:hover {
  background: #000000;
  color: #ffffff;
}
.tl__btn:hover svg path {
  fill: #ffffff;
}

.tl__btn_footer {
  border: 2.5px solid #ffffff;
  color: #ffffff;
  background: transparent;
}
.tl__btn_footer svg path {
  fill: #ffffff;
}
.tl__btn_footer:hover {
  background: #ffffff;
  color: #000000;
}
.tl__btn_footer:hover svg path {
  fill: #000000;
}

.hover__tY {
  cursor: pointer;
  transition: ease-in-out all 0.3s;
}
.hover__tY:hover {
  transform: translateY(-2px);
}

.responsive-block {
  position: relative;
  width: 130px;
}
.responsive-block:before {
  content: "";
  display: block;
  padding-top: 100%;
}

.responsive-block__content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.header__main-row {
  width: 100%;
  min-height: 120px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.header__menu {
  display: flex;
  max-width: 340px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin: 0 10px 0 105px;
}
.header__menu div {
  font-size: 18px;
  font-family: "JetBrains Mono", sans-serif;
}

.header__btn {
  margin-left: auto;
  background: #000000;
  color: #FFFFFF;
  border-radius: 30px;
  padding: 12px 45px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  border: 2px solid #000000;
  font-family: "JetBrains Mono", sans-serif;
  transition: ease-in-out all 0.3s;
}
.header__btn:hover {
  background: #ffffff;
  color: #000000;
  border: 2px solid #000000;
}

.footer__contacts-wrapper {
  width: 100%;
}

.footer__contacts {
  margin-top: 30px;
  display: flex;
  flex-flow: column;
}

.footer__contacts-subtitle {
  font-family: "JetBrains Mono", sans-serif;
  font-size: 18px;
  margin-bottom: 4px;
}

.footer__contact-group {
  margin-top: 12px;
  display: flex;
  align-items: center;
}
.footer__contact-group p {
  font-size: 18px;
  font-family: "JetBrains Mono", sans-serif;
  font-weight: 300;
}

.footer__contact-icon {
  margin-right: 11px;
}

.footer__politic {
  font-family: "JetBrains Mono", sans-serif;
  font-size: 14px;
}

.footer__contacts-wrapper_mt {
  margin-top: 30px;
}

.first-on-page {
  background: #000000;
  clip-path: polygon(0 0, 55% 0, 100% 0, 100% 96%, 50% 100%, 0 96%);
  overflow: hidden;
}

.block__content_first-on-page {
  padding: 100px 150px;
  position: relative;
}

.first-on-page__bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.first-on-page__bg img {
  width: 100%;
  height: 100%;
}

.first-on-page__group {
  max-width: 640px;
  width: 100%;
  position: relative;
}

.first-on-page__title {
  font-size: 36px;
  line-height: 1.5;
  color: #FFFFFF;
  letter-spacing: 2.52px;
  font-weight: 600;
  margin-top: 15px;
}

.first-on-page__text {
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 1.68px;
  font-weight: 300;
  line-height: 1.5;
  margin-top: 50px;
}

.tl__btn_first-on-page {
  margin-top: 36px;
  border: rgb(224, 75, 75);
  color: #FFFFFF;
  background: rgb(224, 75, 75);
}
.tl__btn_first-on-page svg path {
  fill: #ffffff;
}
.tl__btn_first-on-page:hover {
  background: #ffffff;
  border: #000000;
  color: #000000;
}
.tl__btn_first-on-page:hover svg path {
  fill: #000000;
}

.block__content_trust {
  padding: 80px 0px;
}

.trust__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.trust__text {
  line-height: 1.5;
  font-weight: 300;
  margin-right: 15px;
  letter-spacing: 1.4px;
}

.trust__table {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  max-width: 980px;
  width: 100%;
}

.trust__table-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.block__content_cards {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  flex-flow: column;
}

.cards__tablet {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 25px;
}

.card__row-color {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 25px;
}

.cards__tablet-icon-text_red {
  color: #FF5151;
}

.cards__tablet-icon-text {
  font-size: 22px;
  color: #21AA56;
  font-weight: 700;
  letter-spacing: 1.5px;
  margin-top: 16px;
}

.cards__tablet-item {
  max-width: 560px;
  width: 100%;
  box-shadow: 11px 8px 50px 0px #B7BCD1;
  border-radius: 30px;
  overflow: hidden;
  margin-top: 10px;
}

.cards__item-img {
  width: 100%;
  max-height: 520px;
  border-radius: 30px;
}

.cards__item-text-group {
  padding: 18px 37px 23px;
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
  min-height: 400px;
}
.cards__item-text-group span {
  font-weight: 600;
}

.cards__item-title {
  font-size: 24px;
  font-weight: 600;
}

.cards__tablet-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards__item-subtitle {
  margin-top: 25px;
}

.cards__item-text {
  margin-top: 25px;
  font-style: italic;
}

.block__content_demonstration-plus {
  padding: 60px 0 70px;
  flex-flow: column;
  align-items: center;
}

.demonstration-plus__title {
  font-size: 32px;
  font-weight: 600;
  letter-spacing: 2.3px;
  text-align: center;
}

.demonstration-plus__table {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  margin-top: 60px;
}

.demonstration-plus__table-item {
  padding: 13px 8px 16px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  box-shadow: 11px 8px 30px 0px #B7BCD1;
  border-radius: 30px;
  overflow: hidden;
  max-height: 470px;
  min-height: 420px;
}
.demonstration-plus__table-item:nth-child(2n) {
  margin-top: 120px;
}

.demonstration-plus__table-img {
  max-width: 260px;
  width: 100%;
  max-height: 200px;
  height: 100%;
}

.demonstration-plus__table-title {
  margin-top: 30px;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}

.demonstration-plus__table-text {
  margin-top: 20px;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  line-height: 1.2;
  padding: 0 6px;
}

.demonstration-plus__subtitle {
  margin-top: 60px;
  font-weight: 600;
  letter-spacing: 1.4px;
  text-align: center;
}

.tl__btn_demonstration-plus {
  margin-top: 30px;
}

.block__content_about-us {
  flex-flow: column;
}

.pulse-pro__inner {
  display: flex;
}
.pulse-pro__content {
  margin-bottom: 80px;
}
.pulse-pro__title {
  margin-bottom: 40px;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.36;
  letter-spacing: 1.96px;
}
.pulse-pro__subtitle {
  margin-bottom: 40px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.36;
  letter-spacing: 1.4px;
}
.pulse-pro__description {
  margin-bottom: 40px;
  row-gap: 20px;
}
.pulse-pro__list {
  margin-bottom: 40px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.36;
  letter-spacing: 1.4px;
}
.pulse-pro__list:last-child {
  margin-bottom: 0;
}
.pulse-pro__list-title {
  font-weight: 600;
}
.pulse-pro__list-item {
  margin-left: 35px;
  list-style: disc;
}
.pulse-pro__btn {
  max-width: 408px;
}

.about-us {
  padding-bottom: 225px;
  color: #000;
}
.about-us__item {
  display: flex;
  justify-content: space-between;
}
.about-us__item:nth-child(1) {
  margin-bottom: 60px;
}
.about-us__item:nth-child(2) {
  margin-bottom: 100px;
}
.about-us__item_reverse {
  flex-direction: row-reverse;
  align-items: center;
}
.about-us__item-content {
  padding-top: 55px;
  max-width: 590px;
  width: 100%;
}
.about-us__item-content_vr {
  padding-top: 80px;
  max-width: 697px;
}
.about-us__item-title {
  margin-bottom: 35px;
  font-size: 36px;
  font-weight: 600;
  line-height: 1.22;
}
.about-us__item-text {
  margin-bottom: 35px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.3;
}
.about-us__item-img {
  margin-right: 30px;
}

.footer {
  background: #000000;
  padding: 60px 0 50px;
  color: rgba(255, 255, 255, 0.85);
  margin-top: auto;
  overflow: hidden;
}

.block__content_footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.footer__ellipse {
  position: absolute;
}

.footer__ellipse_small {
  left: -15%;
  top: -35%;
}

.footer__ellipse_big {
  right: -32%;
  bottom: -30%;
}

.b-line {
  width: 100%;
  border-bottom: 1px solid rgba(143, 143, 143, 0.49);
  padding-bottom: 30px;
}

.footer__column {
  display: flex;
  flex-flow: column;
  max-width: 500px;
  width: 100%;
  position: relative;
}

.footer__column_left {
  margin-top: 30px;
}

.footer__btn-wrapper {
  margin-top: 26px;
}

.footer__company-info {
  margin-top: 30px;
}
.footer__company-info p {
  font-weight: 300;
  font-size: 12px;
  line-height: 1.6;
}

.footer__subtitle {
  max-width: 340px;
  width: 100%;
  font-size: 16px;
  font-weight: 300;
}

.footer__menu {
  margin-left: 0;
  margin-top: 30px;
}

.footer__contacts-politic {
  font-size: 14px;
  font-family: "JetBrains Mono", sans-serif;
  max-width: 250px;
}

.footer__contact-group_phone {
  max-width: 240px;
}

.footer__contact-group_email {
  max-width: 340px;
}

.footer__contact-group_vk {
  max-width: 230px;
}

.footer__contact-group_tg {
  max-width: 135px;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
@media screen and (max-width: 767px) {
  .slick-slide .project-content img {
    display: none;
  }
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat;
}

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 99%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}
.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}
.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}
.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: 44%;
}
@media screen and (max-width: 767px) {
  .slick-prev {
    left: 40%;
  }
}
[dir=rtl] .slick-prev {
  left: auto;
  right: -25px;
}
.slick-prev:before {
  content: "←";
}
[dir=rtl] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: 48%;
}
@media screen and (max-width: 767px) {
  .slick-next {
    right: 42%;
  }
}
[dir=rtl] .slick-next {
  left: -25px;
  right: auto;
}
.slick-next:before {
  content: "→";
}
[dir=rtl] .slick-next:before {
  content: "←";
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}
.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}

/* Слайдер */
/* Ограничевающая оболочка */
/* Лента слайдов */
/* Слайд */
/* Слайд активный */
/* Слайд основной */
/* Слайд по центру */
/* Точки*/
/* Ограничевающая оболочка */
/* Лента слайдов */
/* Слайд */
/* Слайд активный */
/* Слайд основной */
/* Слайд по центру */
/* Стрелка */
/* Стрелка влево */
/* Стрелка вправо */
/* Стрелка не активная */
/* Точки*/
/* Ограничевающая оболочка */
/* Лента слайдов */
/* Слайд */
/* Слайд активный */
/* Слайд основной */
/* Слайд по центру */
/* Стрелка влево */
/* Стрелка вправо */
/* Стрелка не активная */
/* Точки*/
/* Конкретный слайдер*/
.popup {
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  overflow-y: auto;
  overflow-x: hidden;
}
.popup.active {
  z-index: 100;
  opacity: 1;
  visibility: unset;
}

/*# sourceMappingURL=styles.css.map */
