@import "../../slick/slick";
@import "../../slick/slick-theme";


//Todo делать появление горизонтального скролла при ховере


/* Слайдер */
.slick-slider {

}

/* Ограничевающая оболочка */
.slick-list {

}

/* Лента слайдов */
.slick-track {
  height: 315px;
}


/* Слайд */
.slick-slide {
}

/* Слайд активный */
.slick-slide.slick-active {
}

/* Слайд основной */
.slick-slide.slick-current {
}

/* Слайд по центру */
.slick-slide.slick-center {
}

/* Точки*/
.slick-dots {
  z-index: 5;

}

.slick-dots li {
}


/* Ограничевающая оболочка */
.slick-list {
}

/* Лента слайдов */
.slick-track {
}


/* Слайд */
.slick-slide {

}

/* Слайд активный */
.slick-slide.slick-active {
}

/* Слайд основной */
.slick-slide.slick-current {
}

/* Слайд по центру */
.slick-slide.slick-center {
}


/* Стрелка */
.slick-arrow {
  bottom: -16%;
  top: unset;

  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  &::before {
    content: "";
  }
  svg {
    height: 40px;
    width: 40px;
    transition: ease-in-out all 0.3s;
    &:hover {
      transform: scale(1.05);
    }
  }
  @include before-lg() {
    bottom: -15.5%;
  }
  @include before-sm() {
    bottom: -32%;
  }
}

/* Стрелка влево */
.slick-arrow.slick-prev {
  left: 33%;
  @include before-lg() {
    left: 24%;
  }
  @include before-md() {
    left: 15%;
  }
  @include before-sm() {
   left: 9%;
  }

}

/* Стрелка вправо */
.slick-arrow.slick-next {
  right: 33%;
  @include before-lg() {
    right: 24%;
  }
  @include before-md() {
    right: 15%;
  }
  @include before-sm() {
    right: 9%;
  }


}

/* Стрелка не активная */
.slick-arrow.slick-disabled {
}


/* Точки*/
.slick-dots {

}


.slick-dots li{
  &.slick-active {
    background: rgba(255, 92, 92, 1);

  }
}
.slick-dots {
  margin-top: 40px;
  position: relative;

}
.slick-dots li {
  background: rgba(183, 188, 209, 1);
  border-radius: 50%;
  transition: ease-in-out all 0.3s;
  margin: 0 10px;
}

.slick-dots button {
  &:before {
    display: none;
  }
}

/* Ограничевающая оболочка */
.slick-list {
}

/* Лента слайдов */
.slick-track {
}


/* Слайд */
.slick-slide {
}

/* Слайд активный */
.slick-slide.slick-active {
}

/* Слайд основной */
.slick-slide.slick-current {
}

/* Слайд по центру */
.slick-slide.slick-center {
}


/* Стрелка влево */
.slick-arrow.slick-prev {
}

/* Стрелка вправо */
.slick-arrow.slick-next {
}

/* Стрелка не активная */
.slick-arrow.slick-disabled {
}


/* Точки*/
.slick-dots {
}

.slick-dots li {
}

.slick-dots button {
}


/* Конкретный слайдер*/

.some-slider-name {
  //min-width: 0;
}

.some-slider-slide {
}

